
/*******************************************************************Styling Body*******************************************************************/

body{
    text-align: center;
    margin: 0;
    border: 0;
    font-family: 'Pacifico', cursive;
    background-color:  #283149;
}

/*******************************************************************Styling Header*******************************************************************/

h1{
  display: inline-block;
  font-size: 8rem;
  margin: .5rem;
  color: #e2f7f7fc;
  text-shadow: 1px 0px 16px #03a7c1;
  transition: all .3s ease;
}
h1:hover{
  color: #30dcdcfc;
  text-shadow: 1px 0px 16px #03a7c1;
  transform: scale(1.3);
}

/*******************************************************************Styling container*******************************************************************/

.container{
  margin: 10rem auto;

}

/*******************************************************************Adding Images to the drum buttons*******************************************************************/

.w{
  background-image: url("../images/tom1.png");
}
.a{
background-image: url("../images/tom2.png");
}
.s{
background-image: url("../images/tom3.png");
}
.d{
background-image: url("../images/tom4.png");
}
.j{
background-image: url("../images/crash.png");
}
.k{
background-image: url("../images/snare.png");
}
.l{
background-image: url("../images/kick.png");
}

/*******************************************************************Styling Drum Buttons*******************************************************************/

.drum{
  font-family: 'Josefin Sans', sans-serif;
  margin: 1.8rem;
  border: 2rem solid;
  border-image-slice: 1;
  border-width: 5px;
  box-shadow: 0px 0px 20px 13px rgba(4, 208, 208, 0.69);
 border-image-source: linear-gradient(to left, #743ad5, #d53a9d, #00faff, #4dc367);
 font-size: 6rem;
 width: 150px;
 height: 150px;
 font-weight: 900;
 color: #f3247a;
 text-shadow: 8px -1px 8px #16e4bc;
 transition: all .4s ease;

}

.drum:hover{
  text-shadow: 8px -1px 8px white;
  box-shadow: 0px 0px 20px 5px rgba(239, 26, 173, 0.7);
}

/*******************************************************************Animated box shadow style*******************************************************************/

.pressed{
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d, #00faff, #4dc367); */
  box-shadow: 0px 0px 20px 5px rgba(239, 26, 173, 0.7);
}

/*******************************************************************Styling footer*******************************************************************/

p{
  color: white;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 3rem;
  border: 0;
  margin: 0;
   text-shadow: 0px 1px 20px #2bf1fb;
}
p:hover{
  transform: scale(1.5);
}
